@{
    ViewBag.Title = "error";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error </title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/ViewComments.css">
    <link rel="stylesheet" href="~/Content/addTask.css">
</head>
<fieldset>
    <legend><span class="number">1</span> Error !</legend>

   

</fieldset>